@font-face {
  font-family: "IRANSansWeb";
  src: url("./assets/fonts/IRANSansWeb.eot");
  src: local("IRANSansWeb"),
    url("./assets/fonts/IRANSansWeb.eot?#iefix") format("embedded-opentype"),
    url("./assets/fonts/IRANSansWeb.woff2") format("woff2"),
    url("./assets/fonts/IRANSansWeb.woff") format("woff"),
    url("./assets/fonts/IRANSansWeb.ttf") format("truetype"),
    url("./assets/fonts/IRANSansWeb.svg#IRANSansWeb") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "atyla";
  src: local("atyla"), url("./assets/fonts/atyla.ttf") format("truetype");

  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "glitter";
  src: local("glitter"), url("./assets/fonts/glitter.ttf") format("truetype");

  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "dilla";
  src: local("dilla"), url("./assets/fonts/dilla.ttf") format("truetype");

  font-weight: normal;
  font-style: normal;
}
